<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LectureQA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="hero is-primary is-fullheight">


   <div class="w3-sidebar w3-bar-block w3-card w3-animate-right w3-border-right  w3-light-grey w3-large" style="display:none;right:0" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-button w3-padding-32 w3-center w3-large">Close &times;</button>
  <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-center w3-padding-16">Home</a>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('main.list') }}" class="w3-bar-item w3-button w3-center w3-padding-16">Lectures</a>
  <a href="#" class="w3-bar-item w3-button w3-center w3-padding-16">How To</a>
  {% endif %}
  {% if not current_user.is_authenticated %}
  <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-center w3-padding-16">Login</a>
  {% endif %}
  <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-center w3-padding-16">Logout</a>
</div>

   <div class="w3-teal">	
     <button class="w3-button w3-teal w3-xlarge w3-right" onclick="w3_open()">☰</button>
       {% if current_user.is_authenticated %}
     <div class="w3-margin-left"> <h1> Welcome {{name}}! </h1> </div>
       {% endif %}
   </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    <script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
</body>

</html>


