<!DOCTYPE html>
<html>
  <title>LectureQA Main Page</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-display-middle">
    <div class="w3-container w3-wide w3-text-grey w3-center">
    <h1>Welcome to LectureQA Page</h1>
    <p> If you have an account, please login. </p>
    <p> If you want to create an account, please contact us! </p>
  </div>
    <div class="bgimg w3-display-container w3-text-white">
     <div class="w3-container w3-center w3-xlarge">
       <a href="{{ url_for('auth.login') }}" class="w3-button w3-teal">Login</a>
       <button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-teal" disabled>Contact</button>
     </div>
   </div>

</div>


<div class="w3-container">
  <div id="contact" class="w3-modal">
    <div class="w3-modal-content w3-animate-opacity">
      <div class="w3-container w3-teal">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Contact</h1>
      </div>
     <div class="w3-container">
      <p>Please fill the form:</p>
      <form action="" method="post">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name and Surname" required name="Name"></p>
	<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
        <p><button class="w3-button w3-light-grey" type="submit">Send Message</button>
	  <button onclick="document.getElementById('contact').style.display='none'" type="button" class="w3-button w3-red w3-right">Cancel</button>
	</p>
	
      </form>
     </div>
    </div>
  </div>
</div>

  
</html>
