<!DOCTYPE html>
<html>
  <title>LectureQA Main Page</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1600px">


<div class="w3-display-middle">
  <div class="w3-container w3-wide w3-text-grey w3-center">
    <h1>Welcome to LectureQA Page</h1>
    <p> If you have an account, please login. </p>
    <p> If you want to create an account, please sign up. </p>
  </div>
  <div class="bgimg w3-display-container w3-text-white">

  <div class="w3-container w3-center w3-xlarge">
    <a href="{{ url_for('auth.login') }}" class="w3-button w3-teal">Login</a>
    <a href="{{ url_for('auth.signup') }}" class="w3-button w3-teal">Sign Up</a>
  </div>
 
</div>

</body>
</html>
