{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.collapsible {
  background-color: #C0C0C0;
  color: black;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: gray;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
</style>
  </head>


<div class="w3-main" style="margin-left:200px;margin-right:200px">
 
 
 <div class="w3-container w3-wide w3-text-dark-gray w3-center">
  <h1>Chapters</h1>
</div>


 
 {% for key,value in video_dict.items()%}
 <!-- key is chapter title, value is a dict -->
 <button class="collapsible">{{ key }} </button>
 <div class="content">
   <ul class="w3-ul">
      {%for i in range(0,counts[key])%} 
      <li><a href="{{ url_for('main.question',video_id=i+1,chapter=key)}}"> {{ value[i] }} </a></li>
      {%endfor%}
    <!--<li><a href={{ url_for('main.question',video_id='video1')}}> Video 1 : Introduction to Signals and Systems</a></li>
    <li><a href={{ url_for('main.question',video_id='video2')}}> Video 2 : Transformation of the Independent Variable</a></li>
    <li><a href={{ url_for('main.question',video_id='video3')}}> Video 3 : Continuous-Time Exponential and Sinusoidal Signals</a></li>
    <li><a href={{ url_for('main.question',video_id='video4')}}> Video 4 : Discrete-Time Exponential and Sinusoidal Signals</a></li>
    <li><a href={{ url_for('main.question',video_id='video5')}}> Video 5 : Unit Impulse and Unit Step Functions</a></li>
    <li><a href={{ url_for('main.question',video_id='video6')}}> Video 6 : Basic System Properties</a></li>-->
  </ul>
 </div>
 {%endfor%}

</div> 
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

{% endblock %}
