{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.collapsible {
  background-color: #C0C0C0;
  color: black;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: gray;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
</style>
  </head>


<div class="w3-main" style="margin-left:200px;margin-right:200px">
 
 
 <div class="w3-container w3-wide w3-text-dark-gray w3-center">
  <h1>Chapters</h1>
</div>

<button class="collapsible">Chapter 1 </button>
<div class="content">
  <ul class="w3-ul">
    <li><a href={{ url_for('main.question',lecture_id='lecture1')}}> Lecture 1 : Introduction to Signals and Systems</a></li>
    <li><a href={{ url_for('main.question',lecture_id='lecture2')}}> Lecture 2 : Transformation of the Independent Variable</a></li>
  </ul>
</div>
<button class="collapsible">Chapter 2</button>
<div class="content">
  <p></p>
</div>
<!-- <button class="collapsible">Chapter 3</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
-->
</div> 
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

{% endblock %}
